
  p{
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
  }

  header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    transition: 0.5s ease;
  }

  header .brand{
    color: #fff;
    font-size: 1.5em;
    font-weight: 70;
    text-transform: uppercase;
    text-decoration: none;
  }

  header .navigation{ 
    position: relative;
  }

  header .navigation .navigation-items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
  }

  header .navigation .navigation-items a::before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0,3s ease;
  }

  header  .navigation .navigation-items a:hover:before{
    width: 100%;
  }

  section{
    padding: 100px 200px;
  }

  .home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #D2B48C;
  }
  .home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(87, 88, 90, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
  }

  .home .content.active{
    display: block;

  }


  .home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
  }

  .home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
  }

  .home .content p{
    margin-bottom: 65px;
  }

  .home .content a{
    background: #fff;
    padding: 15px 35px;
    color: #71808b;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
  }

  .home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;

  }

  .home .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3 ease;
  }

  .home .media-icons a:not(:last-child){
    margin-bottom: 20px;
  }

  .home .media-icons a:hover{
    transform: scale(1.3);
  }

  .home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
  }

  .slider-navigation .nav-btn{
    /*botoes nav*/
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
  }
  .slider-navigation .nav-btn.active{
    background: #D2B48C;
  }

  .slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
  }

  .slider-navigation .nav-btn:hover{
    transform: scale(1.2);
  }

  .video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);

  }

  .video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;

  }


  @media (max-width: 1040px){
    header {
    padding: 12px 20px;  
    /*menu*/
  } 

  section{
  padding: 100px 20px;
  }

  .home.media-icons{
    right: 15px;
  }

  header .navigation{
  display: none;
  }

  header .navigation.active{

    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
  
    color: #222;
    font-size: 1.5em;
    margin: 20px 0  ;
  /* fonte letra caixa menu*/
    }

    header .navigation .navigation-items a:before{
      background: #222;
      height: 3px;
      

    }

    header .navigation.active .navigation-items {
      background: #fff;
      width: 90%;
      max-width: 400px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 5px 25px rgb(1 1 1 /20%);
      /*caixa menu*/

    }



  .menu-btn{
  background: url(menu.png)no-repeat;
  background-size: 30px;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(close.png);
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;

  }
  }

  .wrapper.text {
    background: linear-gradient(315deg, #ffffff 0%, #ffffff 74%);
    width: 100%;
    height: 10%;
    display: inline-block;
    place-items: center;
  
    
  }

  .wrapper .button{
    display: block;
    width: 60px;
    height: 60px;
    float: left;
    margin: 0 5px ;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-out;
    
  }

  .wrapper .button .icon{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    line-height: 60px;
    text-align: center;
    transition: all 0.3s ease-out;
  }

  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;

  }

  .wrapper .button:hover{
    width: 200px;
  }

  /* Estilização da seção "Sobre" */
  #sobre {
    background-color: #ffffff; /* Fundo branco */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 30px;
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  /* Título principal */
  #sobre h2 {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    color: #333333;
    margin-bottom: 20px;
  }

  /* Texto e parágrafos */
  #sobre p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #555555;
    margin-bottom: 20px;
  }

  /* Subtítulos */
  #sobre h3 {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: #444444;
    margin: 20px 0;
  }

  /* Lista */
  #sobre ul {
    list-style: none;
    padding: 0;
  }

  #sobre ul li {
    font-size: 16px;
    color: #555555;
    margin-bottom: 10px;
    padding-left: 30px;
    text-align: left;
    position: relative;
  }

  /* Ícone antes dos itens da lista */
  #sobre ul li:before {
    content: '✔';
    color: #007bff;
    font-weight: bold;
    position: absolute;
    left: 0;
  }

  /* Imagens na seção "Sobre" */
  #sobre::before {
    content: "";
    background: url('img/art-background.jpg') no-repeat center center / cover;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  /* Estilização da seção "Faça Parte" */
  #faca-parte {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 40px auto;
    max-width: 800px;
    text-align: center;
  }

  #faca-parte h2 {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    color: #333333;
    margin-bottom: 20px;
  }

  #faca-parte p {
    font-size: 16px;
    color: #555555;
    margin-bottom: 20px;
  }

  #faca-parte .btn {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  #faca-parte .btn:hover {
    background-color: #0056b3;
  }

  /* Rodapé */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    color: #666666;
    font-size: 14px;
    margin-top: 20px;
  }

  .carousel {
    text-align: center;
    margin-top: 50px;
  }

  .carousel-container {
    position: relative;
    display: inline-block;
    width: 95%;
    max-width: 1000px;
    overflow: hidden;
  }

  .carousel-images {
    display: flex;
    transition: transform 2s ease-in-out;
  }

  .carousel-images img {
    min-width: 100%;
    max-height: 800px;
    object-fit: cover;
  }
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }

  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .btn-outline {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #007bff; /* Cor da borda e do texto */
    border: 2px solid #007bff; /* Cor do contorno */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }

  .btn-outline:hover {
    background-color: #007bff;
    color: #fff;
  }

  #contador {
    font-size: 2em;
    font-weight: bold;
    color: #130808;
    text-align: center;
    margin: 20px auto;
    display: block;
  }


  @media (max-width: 768px) {
    .home .content h1 {
      font-size: 2em;
    }

    .home .content p {
      font-size: 0.8em;
    }

    .home .media-icons {
      right: 15px;
    }
  }

  @media (max-width: 480px) {
    .home .content h1 {
      font-size: 1.5em;
      line-height: 40px;
    }

    .home .content p {
      font-size: 0.7em;
    }

    .home .content a {
      padding: 10px 20px;
      font-size: 0.9em;
    }
  }
  @media (max-width: 1040px) {
    .menu-btn {
      background-size: 20px; /* Reduz o tamanho do ícone */
      width: 30px; /* Largura menor */
      height: 30px; /* Altura menor */
    }

    .menu-btn.active {
      background-size: 20px; /* Também reduz o ícone no estado ativo */
      width: 30px;
      height: 30px;
    }
  }

  .menu-btn.active {
    background-size: 20px; /* Ícone reduzido no estado ativo */
    width: 30px; /* Mantém o tamanho consistente com o estado padrão */
    height: 30px; /* Mantém o tamanho consistente com o estado padrão */
  }


  @media (max-width: 1040px) {
    header {
      padding: 12px 20px;  /* Menos padding para não causar desalinhamento */
    }
  }
  

  .enviar-btn {
    position: relative; /* Define o posicionamento relativo ao elemento pai */
    display: inline-block; /* Permite aplicar margens e centralizar o botão */
    margin: 20px auto; /* Centraliza horizontalmente */
    padding: 10px 20px; /* Adiciona espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Deixa o texto em negrito */
    color: #fff; /* Cor do texto */
    background-color: #007bff; /* Cor de fundo */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Mostra o cursor de clique */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
    z-index: 1; /* Garante que esteja acima de outros elementos */
  }
  
  .enviar-btn:hover {
    background-color: #0056b3; /* Muda a cor de fundo ao passar o mouse */
  }
  
  .enviar-btn:focus {
    outline: none; /* Remove o contorno padrão ao focar no botão */
  }
  
  /* Ajustes para dispositivos menores */
  @media (max-width: 768px) {
    .enviar-btn {
      width: 100%; /* Botão ocupa toda a largura */
      padding: 15px; /* Ajusta o espaçamento interno */
    }
  }
  